@model DigiShop.ViewModels.Manager.SettingViewModel
<link rel="stylesheet" href="~/css/AuthForm.css">
<title>@ViewData["Title"]ثبت تنظیمات دیجی شاپ</title>
<link rel="stylesheet" href="~/css/Account.css">
@{
    Layout = "AuthAccount";
}
@{
    if (Model != null && !String.IsNullOrEmpty(Model.Message) &&  (bool)Model.IsCompleted)
    {
        <div class="alert alert-success hide">@Model.Message</div>
    }
    else if (Model != null && !String.IsNullOrEmpty(Model.Message))
    {
        <div class="alert alert-danger hide">@Model.Message</div>
    }
}
<script>
  setTimeout(function() {
     $(".hide").fadeOut();
  },4000)
</script>

<body class="bodycolor">
<card>
    <img src="~/Images/Sites/DigiShop.png" class="img-responsive logo" style="padding-right: 75px;" alt="دیجی شاپ">
    <div class="card card-header bodycolor">
        <h1 class="titleStyle"> DigiShop</h1>
    </div>
    <div class="card card-body">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="AddSiteSetting" asp-controller="Manager" method="post">
                    <div class="form-group">
                        <input asp-for="EmailAddress" type="text" class="form-control inputStyle " placeholder="ایمیل مدیر.... ">
                       
                    </div>
                    <div class="form-group">
                        <input asp-for="EmailPassword" type="text" class="form-control inputStyle" placeholder=" پسورد اییل ....">
                    
                    </div>
                    <div class="form-group">
                        <input asp-for="SiteDescription" type="text" class="form-control inputStyle" placeholder="توضیحات .... ">
                    </div>
                    <div class="form-group">
                        <input asp-for="SiteKey" type="text" class="form-control inputStyle" placeholder="کلید سایت ....">
                        
                    </div>
                    <div class="form-group">
                        <input asp-for="SiteName" type="text" class="form-control inputStyle" placeholder="نام سایت ....">
                                            
                    </div>
                    <div class="form-group">
                        <input asp-for="SmsApi" type="text" class="form-control inputStyle" placeholder="ای پی ای مسیج ....">
                                            
                    </div>
                    <div class="form-group">
                        <input asp-for="SmsSender" type="text" class="form-control inputStyle" placeholder="ارسال کننده مسیج ....">
                                            
                    </div>
                    <br>
                    <div class="card vr-cardboard btncardStyle">
                        <button class="btn btn-primary btncardStyle" type="submit" dir="rtl">ارسال</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</card>
</body>
