<html>
<body style="background-color:white">
<div class="container-fluid" xmlns="http://www.w3.org/1999/html" style="margin: 60px;padding-right: 120px">
    <div class="row">
        <div class="col-md-12">
            @await Html.PartialAsync("_SearchBar")
            @await Html.PartialAsync("_Permissions")
        </div>
    </div>
</div>
     
</body>
</html>