@model DigiShop.CoreBussiness.EfCoreDomains.Documents.Document
<div class>
    <div >
        <img src="@Url.Action("DownloadImage","Admin",new{Model.id})"  style="width:145px;height: 85px; border-radius: 0px" class="img-circle elevation-2" >
    </div>
</div>