@model DigiShop.ViewModels.Admin.ModifyCategoryViewModel
<link rel="stylesheet" href="~/css/AuthForm.css">
<title>@ViewData["Title"]ویرایش دسته های محصولات دیجی شاپ</title>
<link rel="stylesheet" href="~/css/Account.css">
@{
    Layout = "AuthAccount";
}
@{
    if (Model != null && !String.IsNullOrEmpty(Model.Message) &&  Model.IsCompleted)
    {
        <div class="alert alert-success hide">@Model.Message</div>
    }
    else if (Model != null && !String.IsNullOrEmpty(Model.Message))
    {
        <div class="alert alert-danger hide">@Model.Message</div>
    }
}
<script>
  setTimeout(function() {
     $(".hide").fadeOut();
  },4000)
</script>

<body class="bodycolor">
<card>
    <img src="~/Images/Sites/DigiShop.png" class="img-responsive logo" style="padding-right: 75px;" alt="دیجی شاپ">
    <div class="card card-header bodycolor">
        <h1 class="titleStyle"> DigiShop</h1>
    </div>
    <div class="card card-body">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="ModifyCategory" asp-controller="Admin" method="post">
                    <div class="form-group">
                        <input asp-for="CategoryName" type="text" class="form-control inputStyle " placeholder="نام دسته .... ">
                        <span asp-validation-for="CategoryName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="icon" type="text" class="form-control inputStyle " placeholder="نام ایکون .... ">
                        <span asp-validation-for="icon" class="text-danger"></span>
                    </div>
                    <br>
                    <div class="card vr-cardboard btncardStyle">
                        <button class="btn btn-primary btncardStyle" type="submit" dir="rtl">ذخیره</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</card>
</body>